<template name="deposit">
{{> navbar}}
{{#if tradeLinkApplyed}}
<div class="col-md-12 col-sm-12 col-xs-12">
  {{#each currentDeposits}}
  <div class="alert alert-success">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <b>Offer status:
      {{#if isWaiting status}} processing offer. <a href="#" class="cancelOffer">Cancel offer</a>{{/if}}
      {{#if isSended status}} sended. <a href="https://steamcommunity.com/tradeoffer/{{tradeofferid}}/" target="_blank">Your offer link</a>.
      Security code: {{code}}.
      Also you can confirm trade offer in Steam client
      {{/if}}
    </b>
  </div>
  {{/each}}

<button type="button" class="btn btn-primary updateMe">Update my inventory</button><br>
<hr>

<div class="col-md-8 col-sm-12 col-xs-12">


<h3>Your items (with price more than {{minimalPrice}} coins)</h3>
{{#each bots}}<button type="button" class="btn btn-info bot" data-name="{{this}}">{{this}}</button> &nbsp;{{/each}}<br><br>
Read <a href="/faq">faq</a> to see how we calculate item prices
<hr>
You'll receive trade offer from <b>{{currentBot}}</b> bot. Also please check security code (in trade offer description)!
<hr>
<b>Your balance</b>: {{toInt currentUser.profile.money}} coins
<hr>
{{#each itemGroup in getItemsInGroupsOfThree items}}
    <div class="row">
      {{#each item in itemGroup.items}}

        <div class="col-md-2 col-sm-2 col-xs-2 withdrawItem" id="{{item.id}}">
        <span class="depositItemPrice">
          {{item.price}}
        </span>
        <img src="http://steamcommunity-a.akamaihd.net/economy/image/{{item.icon_url}}" class="img-responsive withdrawImage" width="100" height="100">
          {{item.name}}
          <button type="button" class="btn btn-info btn-block addToOffer" value="{{item.id}}">Add to offer</button>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>

<div class="col-md-4 col-sm-12 col-xs-12">
<h3>Your offer. Total: {{total}} coins</h3>

<hr>

  {{#each offerItems}}
    <span style="color: green">{{price}}</span>({{discount}}) &nbsp;{{name}} &nbsp; <a href="#" class="removeFromOffer">Remove</a>
  <br>

  {{/each}}
  <hr>
  {{#if offersNotNull}}
  <div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary createOffer">Create offer</button>
    {{#if clearOffer}}
    <button type="button" class="btn btn-warning clearOffer">Clear offer</button>
    {{/if}}

  </div>
  </div>
  {{/if}}
</div>
</div>
{{else}}
<div class="centered">
  <h3>Please add your trade offer link on <a href="/profile">profile page</a> to make deposits</h3>
</div>
{{/if}}

{{> footer}}
</template>
