<template name="tos">
{{> navbar}}
<div class="container">
  <h1>Terms of Service</h1>
  By using Csgo-GHost.com (CG) you agree to the following terms of service. Violators may be bannrd from our sitr indefinitely, at the sole digression of BR staff.
  <h2>Item Pricing</h2>
  CG reserves the right to reject or discount certain items based on price, volatility, or popularity. Item prices are subject to change without warning, at the sole discretion of CG. CG does not recognize the quality, stickers, or name tags of any items.
  <h2>Maximum Bets</h2>
  Maximum bets are adjusted manually to maintain site solvency. The use of multiple accounts to bypass the maximum bet is strictly forbidden. A 30 minute warning will precede any decrease to the maximum bet. An increase to the maximum bet may occur at any time.
  <h2>Code of Conduct</h2>
  Players are asked to remain respectful at all times. Excessive spam, harassment, staff impersonation, solicitation, and defamation are strictly forbidden. Website advertisement, particularity of competing services, is not allowed.
  <h2>Privacy Policy</h2>
  Steam profiles are used for identification purposes across the site. By using our service you acknowledge that your Steam profile, personal name, and avatar may be shared with other CG users. CG will never ask for, collect, or share the personal information of any of our users.
  <h2>Scripts</h2>
  CG is not responsible for any scripts that are used. You Can use them but please know that there is some scams out there. Use them at your OWN risk.
  <h2>Limited Liability</h2>
  CG is not responsible for trade/account bans that may occur as a result of accepting items from our bots. CG assumes no responsibility for missed bets as a result of network latency or disconnections. Always ensure a stable connection before placing bets. Avoid placing important bets at the last second. Make sure CSGO skin betting is legal in your country and follow the laws in your country. By playing on this site you agree to be 18+ and its legal in your country. We are not responsible for missing funds or Items. We will work our best to fix these problems through our support screen.
</div>
{{> footer}}
</template>
