<template name="footer">
<br>
<div class="navbar-fixed-bottom row-fluid navbar-inverse footer">
      <div class="navbar-inner">
          <div class="container footer">
            csgo-ghost.com, 2016. <a href="/tos">Terms of service</a>. Powered by <a href="http://steamcommunity.com/" target="_blank">Steam</a>. &nbsp;

              Community:
              <a href="http://steamcommunity.com/groups/Csgo-Ghost" target="_blank">Steam group</a>,
              <a href="https://twitter.com/Csgo_Ghost" target="_blank">Twitter</a>.

          </div>
      </div>
</div>
</template>
