<template name="navbar">
<nav role="navigation" class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">CSGO-GHOST</a>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse">
    {{#if currentUser}}
    {{#unless profile.banned}}
    <ul class="nav navbar-nav">
      <li><a href="/profile">Profile</a></li>
      <li><a href="/deposit">Deposit</a></li>
      <li><a href="/csgo">Withdraw items</a></li>
      <li><a href="/affiliates">Affiliates</a></li>
      <li><a href="/support">Support</a></li>
      <li><a href="/faq">FAQ</a></li>
      {{#if isAdmin}}
      <li><a href="/settings">Settings</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/tickets">Support tickets</a></li>
      {{/if}}
    </ul>
    {{/unless}}
    {{/if}}
    <ul class="nav navbar-nav navbar-right">
      {{#if currentUser}}<li><a href="#" class="logout">Logout</a></li>{{else}}<li><a href="#" class="login">
        <img src="/sits_small.png" />
      </a></li>{{/if}}
    </ul>
  </div>
  </nav>
  </template>
